<div class="jumbotron text-center">
    <h1>{{title}}</h1>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-sm-3" style="background-color: aliceblue; padding: 2px;">
            Book Comments
        </div>
    </div>
</div>
