body {
    background-image: url("https://wallpapers.com/images/hd/library-background-hgd4xlhw1tk49yyf.jpg");
}
.book-item {
    padding: 3px;
    text-align: left;
    margin-bottom: 5px;
    background-color: aliceblue;
}

form {
    background-color: aliceblue;
    padding: 5px
}

.btn-group form {
    display: inline-block; 
    margin-right: 10px; 
}


