<div class="col-sm-6 col-md-6 col-sm-offset-3">
    <div style="background-color: aliceblue; padding: 10px;">
        <h2>Add Book</h2>
    </div>
    <form action="/books/add-book" method="post" style="background-color: white; padding: 20px; border: 1px solid #ccc;">
        <div class="form-group">
            <label for="bookname">Book Name:</label>
            <input type="text" name="bookname" class="form-control" id="bookname">
        </div>
        <div class="form-group">
            <label for="AuthorName">Author Name:</label>
            <input type="text" name="AuthorName" class="form-control" id="AuthorName">
        </div>
        <div class="form-group">
            <label for="Genre">Book Genre:</label>
            <input type="text" name="Genre" class="form-control" id="Genre">
        </div>
        <div class="form-group">
            <label for="PublishYear">Book Published Year:</label>
            <input type="text" name="PublishYear" class="form-control" id="PublishYear">
        </div>
        <button type="submit" class="btn btn-default btn-primary">Add Book</button>
    </form>
</div>
