<div class="col-sm-6 col-md-6 col-sm-offset-3">
    <div style="background-color: aliceblue; padding: 10px;">
        <h2>Add Comment</h2>
    </div>
    <form action="/books/add-comment" method="post" style="background-color: white; padding: 20px; border: 1px solid #ccc;">
        <div class="form-group">
            <label for="comment_text">Comment:</label>
            <textarea name="comment_text" class="form-control" id="comment_text"></textarea>
        </div>
        <button type="submit" class="btn btn-default btn-primary">Add Comment</button>
    </form>
</div>
