<div class="col-sm-6 col-md-6 col-sm-offset-3">
    <form action="/books/edit-book" method="post">
        <div class="form-group">
            <label for="BookId">Book ID:</label>
            <input type="text" name="BookId" class="form-control" id="BookId">
        </div>
        <div class="form-group">
            <label for="bookname">Book Name:</label>
            <input type="text" name="bookname" class="form-control" id="bookname">
        </div>
        <div class="form-group">
            <label for="AuthorName">Author Name:</label>
            <input type="text" name="AuthorName" class="form-control" id="AuthorName">
        </div>
        <div class="form-group">
            <label for="Genre">Book Genre:</label>
            <input type="text" name="Genre" class="form-control" id="Genre">
        </div>
        <div class="form-group">
            <label for="PublishYear">Book Published Year:</label>
            <input type="text" name="PublishYear" class="form-control" id="PublishYear">
        </div>
        <div class="form-group">
            <label for="BookStatus">Book Status:</label>
            <select name="BookStatus">
                <option value="Available">Available</option>
                <option value="Checked Out">Checked Out</option>
                <option value="Destroyed">Destroyed</option>
                <option value="Lost">Lost</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default btn-primary">Edit Book</button>
    </form>
</div>