<div class="container">
    <div class="jumbotron">
        <h3>Hello {{user.firstname}}</h3>
    </div>
    <div class="profile-book-section">
        {{#if books}}
        <h3 style="color: white"> Borrowed Book(s)</h3>
        <ul class="list-group">
            {{#each books}}
            <li class="list-group-item">
                {{this.book_name}} {{this.borrow_date}}
                <form action="/books/return/{{this.book_id}}" method="POST">
                    <button type="submit" class="btn btn-info">Return</button>
                </form>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>
